{% if site.delicious_user %}

  <h1 class="page-heading">On Delicious</h1>

  <div id="delicious"></div>
  <script>
    var renderDeliciousLinks = function(links) {
      var ul = $('<ul></ul>');
      links.forEach(function(link) {
        // var tags = link.t;
        $('<li><a href="' + link.u + '">' + link.d + '</a></li>').appendTo(ul);
      });
      $('#delicious').append(ul);
    }
  </script>
  <script type="text/javascript" src="http://feeds.delicious.com/v2/json/{{ site.delicious_user }}?count={{ site.delicious_count }}&amp;sort=date&amp;callback=renderDeliciousLinks"></script>

  <p>
    <a href="http://delicious.com/{{ site.delicious_user }}">My Delicious Bookmarks &raquo;</a>
  </p>

{% endif %}