{% if site.delicious_user %}

  <h1 class="page-heading">On Delicious</h1>

  <div id="delicious"></div>
  <script>
    function renderDeliciousLinks(items) {
      var output = "<ul>";
      for (var i = 0,l = items.length; i < l; i++) {
        output += '<li> <a href="' + items[i].u + '" title="Tags: ' + (items[i].t == "" ? "" : items[i].t.join(', ')) + '">' +    items[i].d +  '</a></li>';
      }
      output += "</ul>";
      $('#delicious').html(output);
    }
  </script>
  <script type="text/javascript" src="http://feeds.delicious.com/v2/json/{{ site.delicious_user }}?count={{ site.delicious_count }}&amp;sort=date&amp;callback=renderDeliciousLinks"></script>

  <p>
    <a href="http://delicious.com/{{ site.delicious_user }}">My Delicious Bookmarks &raquo;</a>
  </p>

{% endif %}