---
layout: page
---

<div class="images-list">
  <div class="row">
    {% for image in page.images %}
    <div class="col photo">
      <div class="thumbnail">
        <a href="{{ image }}"{% if site.gallery.lightbox %} rel="lightbox[{{ page.gallery }}]"{% endif %}>
          <img src="thumbs/{{ image }}" />
        </a>
      </div>
    </div>
  	{% endfor %}
  </div>
</div>

<!--{% for image in page.images %}
  <div class="gallery-image-wrapper">
    <a name="{{ image }}"></a>
    <a href="{{ image }}"{% if site.gallery.lightbox %} rel="lightbox[{{ page.gallery }}]"{% endif %}>
      <img class="gallery-image" src="thumbs/{{ image }}" />
    </a>
  </div>
{% endfor %}-->
