---
layout: page
---

<div class="images-list">
{% for gallery in page.galleries %}
  <div class="row">
    <div class="col photo">
      <div class="thumbnail">
        <a href="{{ gallery['gallery'] }}">
          <img src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}" />
        </a>
      </div>      
    </div>
    <div class="col info">
      <h4>
        <a class="page-link" href="{{ gallery['gallery'] }}">{{ gallery["name"] }}</a>
      </h4>
      <p>
        {{ gallery["images"] | size }} image{% if gallery["images"].size != 1 %}s{% endif %}
      </p>
    </div>
  </div>
{% endfor %}
</div>
